{{!-- This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. --}}

<article style="background-color:white; border-radius:10px;" class="post-card {{post_class}}{{#match @custom.feed_layout "Grid"}}{{#is "home"}}{{#has index="0"}} post-card-large{{/has}}{{#has index="1,2"}} dynamic{{/has}}{{/is}}{{/match}}{{#match @custom.feed_layout "Grid"}} keep-ratio{{/match}}{{#match @custom.feed_layout "Grid"}}{{#is "home, paged"}} post-card-large{{/is}}{{/match}}{{#unless access}} post-access-{{visibility}}{{/unless}}">

    {{#if feature_image}}
    <a href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <div style="border-radius:10px 10px 0px 0px; width: 100%; height:230px; overflow:hidden;">
            <img 
                style="width:100%; height:230px; transform:scale(1.5)"
                src="{{feature_image}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            />
        </div>
    {{/if}}
    <div style="margin:20px; ">
        <div style="margin-top:5px;">
            {{date published_at format="MMMM DD, YYYY"}}
        </div>
        <h4 style="max-width:290px; margin-top:5px; text-align:left; color:rgb(242, 0, 0);">
            {{title}}
        </h4>
        {{#primary_tag}}
            <div style=" font-size:1.6rem; letter-spacing:.5px; text-align:left; ">{{name}}</div>
        {{/primary_tag}}
    </div>
    </a>
  
</article>
