{{!< default}}

{{#post}}
    <div class="blog-page-header">
        <div style="width:100%; display:flex; flex-direction:column; justify-content:center;">
            <h1 class="blog-page-header-title">{{title}}</h1>
            <div id="blog-page-header-content">{{content}}</div>
        </div>
        <img class="blog-page-header-image"src="{{feature_image}}" />
    </div>    
{{/post}}
{{#get "posts" include="tags,authors" filter="tag:-'_project'+tag:-'_team-member'"}}
<div class="blog-page" style="background-color:#f7f3f2;">
    <div class="blog-page-inner">
        <div class="ghost-hunter-search">
            <form >
                <input
                    id="ghost-hunter-search-input" 
                    class="gh-search-bar blog-page-search" 
                    type="search" 
                    placeholder="Type to search" />
            </form>
            <section style="position:absolute; z-index:3; margin-left:15px; border-radius:10px; max-width:390px; max-height:40vh; overflow-y:scroll; background-color:rgba(255, 255, 255, 0.95);" class="gh-search-results" id="ghost-hunter-search-results"></section>
        </div>
        {{!-- <button type="search" data-ghost-search style="margin-top:50px; padding-left:20px; text-align:start; color:rgb(65, 65, 65); background-color:white; padding-right:20px; padding-top:10px; padding-bottom:10px;  border-radius:50px; border: 1px solid black;">
            Search blog posts &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <i class="fa fa-search" aria-hidden="true"></i>
        </button> --}}
        {{#foreach posts}}
            {{#has index="0"}}
                <a href="{{url}}">
                    <div class="blog-page-card-primary">
                        <div style="width:60%; 
                                    background-image:url('{{feature_image}}');
                                    background-size:cover;
                                    background-repeat:no-repeat;
                                    background-position:center; 
                                    border-radius:10px 0px 0px 10px; 
                                    overflow:hidden;">
                        </div>
                        <div style="background-color:white; 
                                    border-radius:0px 10px 10px 0px; 
                                    padding:2%; 
                                    width:40%; 
                                    display:flex; 
                                    flex-direction:column; 
                                    align-items:flex-start; 
                                    justify-content:flex-end">
                            <div class="blog-page-card-primary-pubDate">
                                {{date published_at format="MMMM DD, YYYY"}}
                            </div>
                            <h2 class="blog-page-card-primary-title">
                                {{title}}
                            </h2>
                            {{!-- {{#primary_tag}}
                                <div class="blog-page-card-primary-author">{{name}}</div>
                            {{/primary_tag}} --}}
                            {{#primary_author}}
                                <span class="blog-page-card-primary-author">{{name}}</span>
                            {{/primary_author}}
                        </div>
                    </div>
                </a>
            {{/has}}
        {{/foreach}}
        <div class="blog-page-card-grid">
        {{#foreach posts}}
            {{^has index="0"}}
                {{> "read-more-card"}}
            {{/has}}
        {{/foreach}}
        </div>
    </div>
</div>
{{/get}}