{{!< default}}

{{!-- <img src="https://raw.githubusercontent.com/swilcox21/GhostFuze/master/Fuze/content/images/2022/07/about.png" />
<img src="https://raw.githubusercontent.com/swilcox21/GhostFuze/master/Fuze/content/images/2022/07/how-we-work.png" /> --}}
{{#post}}
<div style="text-align:center;">
    <img class="custom-about-feature-img" src="{{feature_image}}" alt="" />
    <h6 class="custom-about-title">{{title}}</h6>
    <div class="custom-about-content">{{content}}</div>
</div>
<div style="text-align:center; font-weight:bold; font-size:15px; letter-spacing:3px; color:#E30F17; margin-top:50px;">DIFFUSION LABS &amp; FRIENDS</div>
<h1 style="text-align:center; ">The team</h1>
<div class="member-feed">
    {{!-- USE THE GET BELOW: if you need to change the order of the members--}}
    {{#get "posts" include="tags" filter="tag:_team-member" order="published_at desc"}}
        {{twitter_url posts}}
        {{#foreach posts}}
            {{> "member-card"}}
        {{/foreach}}
    {{/get}}
</div>
<div class="custom-about-footer">
    <a href="https://www.csl.com/"class="custom-about-footer-logo">{{content}}</a>
    <div class="custom-about-footer-content">{{content}}</div>
</div>
{{/post}}
