{{!< default}}

{{#post}}
    <div class="project-template-full">
        <div style="width:100%; min-height:400px; background-color:#f7f3f2; padding-top:50px;">
            <div style="display:flex; width:1200px; margin:auto;">
                <div>
                    <div>
                        <a href="/work/" style="color:#E30F17; letter-spacing:4px; font-size:1.6rem; font-weight:700;"><i class="fa fa-arrow-left"></i> &nbsp;WORK</a>
                    </div>    
                    <div style="display:flex; flex-direction:column; justify-content:center; min-height:275px">
                        <h1 style="margin-bottom:10px; margin-top:20px; ">{{title}}</h1>
                        <div style="width:90%; font-size:19px; line-height:2.8rem; letter-spacing:1px; margin-bottom:30px;">{{custom_excerpt}}</div>
                    </div>  
                </div>
                <div style="">
                    <div style="width:613px; height:375px; margin-left:20px; margin-top:20px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%);  position: absolute; z-index:0;"></div>
                    <div style="background-image:url('{{feature_image}}'); background-size:cover; background-repeat:no-repeat; background-position:center; 
                                width:613px; 
                                height:375px; 
                                margin-bottom:-20px; 
                                position:relative; 
                                z-index:1;"></div>
                </div>
            </div>
        </div>
        <div style=" margin:auto; margin-top:50px; width:1200px;">
            <h4 style="letter-spacing:2px;">OVERVIEW</h4>
            <div style="width:60px; height:4px; margin-top:25px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%); "></div>
            <div class="" style="margin-top:25px; display:flex; justify-content:flex-start;">
                <div style="width:60%;">{{content}}</div>
                <div style="margin-left:100px;">
                    <div style="letter-spacing:3px; font-weight:800;">PROJECT TYPE</div>
                    {{#foreach tags}}
                        {{^has slug="_project"}}
                            <div style="font-size:1.3rem;">{{name}}</div>
                        {{/has}}    
                    {{/foreach}}
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TIMELINE</div>
                    <div style="font-size:1.3rem;">{{meta_description}}</div>
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TEAM</div>
                    {{#foreach authors}}
                    <ul>
                        <li style="font-size:1.3rem;">{{name}}</li>
                    </ul>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>

{{!-- 1300 OR SMALLER SCREEN SIZE --}}

    <div class="project-template-1300">
        <div style="width:100%; min-height:320px; background-color:#f7f3f2; padding-top:40px;">
            <div style="display:flex; width:1000px; margin:auto;">
                <div>
                    <div>
                        <a href="/work/" style="color:#E30F17; letter-spacing:4px; font-size:16px; font-weight:700;"><i class="fa fa-arrow-left"></i> &nbsp;WORK</a>
                    </div>    
                    <div style="display:flex; flex-direction:column; justify-content:center; min-height:220px">
                        <h1 style="margin-bottom:10px; margin-top:20px; font-size:36px;">{{title}}</h1>
                        <div style="width:90%; font-size:16px; line-height:2.8rem; letter-spacing:1px; margin-bottom:30px;">{{custom_excerpt}}</div>
                    </div>  
                </div>
                <div style="">
                    <div style="width:490px; height:300px; margin-left:16px; margin-top:16px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%);  position: absolute; z-index:0;"></div>
                    <div style="background-image:url('{{feature_image}}'); background-size:cover; background-repeat:no-repeat; background-position:center; 
                                width:490px; 
                                height:300px; 
                                margin-bottom:-20px; 
                                position:relative; 
                                z-index:1;"></div>
                </div>
            </div>
        </div>
        <div style=" margin:auto; margin-top:50px; width:1000px;">
            <h4 style="letter-spacing:2px;">OVERVIEW</h4>
            <div style="width:60px; height:4px; margin-top:25px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%); "></div>
            <div class="" style="margin-top:25px; display:flex; justify-content:flex-start;">
                <div style="width:70%;">{{content}}</div>
                <div style="margin-left:80px;">
                    <div style="letter-spacing:3px; font-weight:800;">PROJECT TYPE</div>
                    {{#foreach tags}}
                        {{^has slug="_project"}}
                            <div style="font-size:1.3rem;">{{name}}</div>
                        {{/has}}    
                    {{/foreach}}
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TIMELINE</div>
                    <div style="font-size:1.3rem;">{{meta_description}}</div>
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TEAM</div>
                    {{#foreach authors}}
                    <ul>
                        <li style="font-size:1.3rem;">{{name}}</li>
                    </ul>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>

{{!-- 1100 OR SMALLER SCREEN SIZE --}}

    <div class="project-template-1100">
        <div style="width:100%; min-height:256px; background-color:#f7f3f2; padding-top:40px;">
            <div style="display:flex; width:850px; margin:auto;">
                <div>
                    <div>
                        <a href="/work/" style="color:#E30F17; letter-spacing:4px; font-size:16px; font-weight:700;"><i class="fa fa-arrow-left"></i> &nbsp;WORK</a>
                    </div>    
                    <div style="display:flex; flex-direction:column; justify-content:center; min-height:180px">
                        <h1 style="margin-bottom:10px; margin-top:20px; font-size:36px;">{{title}}</h1>
                        <div style="width:90%; font-size:16px; line-height:2.8rem; letter-spacing:1px; margin-bottom:30px;">{{custom_excerpt}}</div>
                    </div>  
                </div>
                <div style="">
                    <div style="width:392px; height:240px; margin-left:13px; margin-top:13px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%);  position: absolute; z-index:0;"></div>
                    <div style="background-image:url('{{feature_image}}'); background-size:cover; background-repeat:no-repeat; background-position:center; 
                                width:392px; 
                                height:240px; 
                                margin-bottom:-20px; 
                                position:relative; 
                                z-index:1;"></div>
                </div>
            </div>
        </div>
        <div style=" margin:auto; margin-top:50px; width:850px;">
            <h4 style="letter-spacing:2px;">OVERVIEW</h4>
            <div style="width:60px; height:4px; margin-top:25px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%); "></div>
            <div class="" style="margin-top:25px; display:flex; justify-content:flex-start;">
                <div style="width:70%;">{{content}}</div>
                <div style="margin-left:50px;">
                    <div style="letter-spacing:3px; font-weight:800;">PROJECT TYPE</div>
                    {{#foreach tags}}
                        {{^has slug="_project"}}
                            <div style="font-size:1.3rem;">{{name}}</div>
                        {{/has}}    
                    {{/foreach}}
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TIMELINE</div>
                    <div style="font-size:1.3rem;">{{meta_description}}</div>
                    <div style="letter-spacing:3px; font-weight:800; margin-top:30px;">TEAM</div>
                    {{#foreach authors}}
                    <ul>
                        <li style="font-size:1.3rem;">{{name}}</li>
                    </ul>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>

{{!-- 900 OR SMALLER SCREEN SIZE --}}

    <div class="project-template-900">
        <div style="width:100%; min-height:204px; background-color:#f7f3f2; padding-top:40px;">
            <div style="display:flex; width:650px; margin:auto;">
                <div>
                    <div>
                        <a href="/work/" style="color:#E30F17; letter-spacing:4px; font-size:14px; font-weight:700;"><i class="fa fa-arrow-left"></i> &nbsp;WORK</a>
                    </div>    
                    <div style="display:flex; flex-direction:column; justify-content:center; min-height:144px">
                        <h1 style="margin-bottom:10px; margin-top:20px; font-size:28px;">{{title}}</h1>
                        <div style="width:90%; font-size:14px; line-height:2.8rem; letter-spacing:1px; margin-bottom:30px;">{{custom_excerpt}}</div>
                    </div>  
                </div>
                <div style="">
                    <div style="width:313px; height:192px; margin-left:11px; margin-top:11px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%);  position: absolute; z-index:0;"></div>
                    <div style="background-image:url('{{feature_image}}'); background-size:cover; background-repeat:no-repeat; background-position:center; 
                                width:313px; 
                                height:192px; 
                                margin-bottom:-20px; 
                                position:relative; 
                                z-index:1;"></div>
                </div>
            </div>
        </div>
        <div style=" margin:auto; margin-top:50px; width:650px;">
            <h6 style="letter-spacing:2px;">OVERVIEW</h6>
            <div style="width:60px; height:4px; margin-top:15px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%); "></div>
            <div class="" style="margin-top:15px; display:flex; justify-content:flex-start;">
                <div style="width:75%; font-size:14px;">{{content}}</div>
                <div style="margin-left:20px;">
                    <div style="letter-spacing:2px; font-weight:600;">PROJECT TYPE</div>
                    {{#foreach tags}}
                        {{^has slug="_project"}}
                            <div style="font-size:1.3rem;">{{name}}</div>
                        {{/has}}    
                    {{/foreach}}
                    <div style="letter-spacing:2px; font-weight:800; margin-top:10px;">TIMELINE</div>
                    <div style="font-size:1.3rem;">{{meta_description}}</div>
                    <div style="letter-spacing:2px; font-weight:800; margin-top:10px;">TEAM</div>
                    {{#foreach authors}}
                    <ul>
                        <li style="font-size:1.3rem;">{{name}}</li>
                    </ul>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>

{{!-- 700 OR SMALLER SCREEN SIZE --}}

    <div class="project-template-700">
        <div style="width:100%; min-height:163px; background-color:#f7f3f2; padding-top:20px;">
            <div style="display:flex; width:90%; margin:auto;">
                <div>
                    <div>
                        <a href="/work/" style="color:#E30F17; letter-spacing:4px; font-size:14px; font-weight:700;"><i class="fa fa-arrow-left"></i> &nbsp;WORK</a>
                    </div>    
                    <div style="display:flex; flex-direction:column; justify-content:center; min-height:144px">
                        <h1 style="margin-bottom:10px; margin-top:20px; font-size:24px;">{{title}}</h1>
                        <div style="width:90%; font-size:12px; line-height:14px; letter-spacing:1px; margin-bottom:30px;">{{custom_excerpt}}</div>
                    </div>  
                </div>
                <div style="">
                    <div style="width:250px; height:153px; margin-left:10px; margin-top:10px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%);  position: absolute; z-index:0;"></div>
                    <div style="background-image:url('{{feature_image}}'); background-size:cover; background-repeat:no-repeat; background-position:center; 
                                width:250px; 
                                height:153px; 
                                margin-bottom:-20px; 
                                position:relative; 
                                z-index:1;"></div>
                </div>
            </div>
        </div>
        <div style=" margin:auto; margin-top:20px; width:90%;">
            <h6 style="letter-spacing:2px; font-size:14px;">OVERVIEW</h6>
            <div style="width:40px; height:3px; margin-top:15px; background: #FF9C55; background: linear-gradient(90deg, #FF9C55 0%, #F5444B 100%); "></div>
            <div class="" style="margin-top:15px; display:flex; justify-content:flex-start;">
                <div style="width:75%; font-size:12px;">{{content}}</div>
                <div style="margin-left:20px;">
                    <div style="letter-spacing:1px; font-size:14px; font-weight:600;">PROJECT TYPE</div>
                    {{#foreach tags}}
                        {{^has slug="_project"}}
                            <div style="font-size:12px;">{{name}}</div>
                        {{/has}}    
                    {{/foreach}}
                    <div style="letter-spacing:1px; font-size:14px;  font-weight:800; margin-top:5px;">TIMELINE</div>
                    <div style="font-size:12px;">{{meta_description}}</div>
                    <div style="letter-spacing:1px; font-size:14px; font-weight:800; margin-top:5px;">TEAM</div>
                    {{#foreach authors}}
                    <ul>
                        <li style="font-size:12px;">{{name}}</li>
                    </ul>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>



    {{!-- FOOTER --}}

    {{#if @custom.show_recent_posts_footer}}
        <div class="more-projects-outer">
            <div class="more-projects-inner">
            {{#get "pages" include="tags" filter="id:-{{id}} + tag:hash-project" limit="3" order="desc" as |more_posts| }}
                {{#if more_posts}}
                <a href="/work/">
                        <h4 class="more-projects-h4" ><a href="/work/">PROJECTS</a></h4>
                   </a>
                        <div class="read-more">
                            {{#foreach more_posts}}
                                {{> "project-card"}}
                            {{/foreach}}
                        </div>
                {{/if}}
            {{/get}}
        </div> 
        </div> 
    {{/if}}

{{/post}}